sigils==0.0.43.dev1
grimoirelab==0.2.31.dev1
cereslib==0.1.8
perceval-puppet==0.1.15
perceval==0.12.23.dev1
grimoirelab-toolkit==0.1.10
kingarthur==0.1.17
graal==0.2.3
perceval-opnfv==0.1.16
kidash==0.4.15
perceval-mozilla==0.2.9
perceval-finos==0.1.6
grimoireelk==0.62.0.dev1
sirmordred==0.2.24.dev1
manuscripts==0.2.20
sortinghat==0.7.7
